@charset "UTF-8";

#container{
	max-width: 80%;
} 

#bo_gall {
    margin-bottom: 20px;
    overflow: hidden
}

#bo_gall h2 {
	color: white;
}

#bo_gall #gall_ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#bo_gall .gall_box {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.gall_row > li.gallWST {
    position: relative;
    margin-left: -0.03em;
}

.gall_row ,.gall_row .col-gn-3 {
    position: relative;
    min-height: 1px;
    float: left;
}



.gall_row > li.gallWST {
    width: 50% !important;
}

.gall_row > li.gallWST.col-gn-3 {
    width: 33.33333333% !important;
}


#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {
    text-decoration: none
}

#bo_gall .gall_boxa {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 10px 10px 0 10px;
}
/* 
#bo_gall .gall_boxa a,#bo_gall .gall_img .no_image,#bo_gall .gall_img .is_notice {
    display: block
}
 */
#bo_gall .gall_boxa a .iconPs {
    font-style: normal;
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    text-align: left !important;
    z-index: 1;
}

#bo_gall .gall_boxa a .icoNotice {
    display: inline-block;
    padding: 5px;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
}

#bo_gall .gall_boxa a > img {
    display: block;
    width: 100% !important;
    min-width: 100%;
    height: auto !important;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#bo_gall .gall_boxa a b {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    color: #999;
    font-size: 12px;
    font-family: verdana;
    letter-spacing: 2px;
    font-weight: normal;
    width: 100%;
}

#bo_gall .gall_boxa .gall_info {
    font-style: normal;
    position: absolute;
    left: 0px;
    bottom: -50%;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 20px;
    color: #fff;
    ; font-size: 0.92em;
    line-height: 20px;
    margin-top: -10px;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* 유튜브 썸네일 시작 */
#bo_gall .gall_boxa a .youtube_img sup {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* 유튜브 썸네일 끝 */
#bo_gall .gall_boxa a .youtube_img sub, #bo_gall .gall_boxa a .youtube_img sub img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    filter: Alpha(opacity=0);
    opacity: 0;
    -moz-opacity: 0;
}

/* 호버 - 그라데이션 */
#bo_gall .gall_box:hover .gall_boxa a .youtube_img sup {
    transform: scale(1.1);
    filter: Alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
}

/* 호버 - 원본 출처 */
#bo_gall .gall_box:hover .gall_info {
    bottom: 50%;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* 유튜브 로고 */
#bo_gall .gall_box .gall_boxa .iconPs .fa-youtube-play {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 50px !important;
    color: #ff0000 !important;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    z-index: 1;
    font-style: normal;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.2),0px 0px 2px rgba(0,0,0,0.2),0px 0px 2px rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

/* 호버 - 유튜브 로고 */
#bo_gall .gall_box:hover .gall_boxa .iconPs .fa-youtube-play {
    color: RGBA(255,255,255,0.3) !important
}

#bo_gall .gall_text_href {
    padding: 10px 10px 30px 10px;
}

#bo_gall .gall_text_href a {
    font-weight: bold;
    color: #999;
}


#bo_gall .bo_tit {
    display: block;
    font-weight: bold;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

/* 미디어 */
@media all and (max-width: 1000px) {
    .gall_row .box_clear {
        clear:none;
    }

     .gall_row > li.col-gn-0,.gall_row > li.gallWST.col-gn-3 {
        width: 50% !important;
    } 

    .gall_row > li.gallWST {
        width: 50% !important;
    } 

}

@media all and (max-width: 700px) {
    .gall_row > li.gallWST.col-gn-3,.gall_row {
        width:100% !important;
    }

    .gall_row > li.gallWST.col-gn-1,.gall_row > li.gallWST {
        width: 100% !important;
    }

} 
